<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/a2af9f2a-ccba-478f-9946-e86400de0324/resourcegroups/gglbackend/providers/Microsoft.ContainerRegistry/registries/Backend220230317105114</ContainerResourceId>
    <ContainerResourceName>Backend220230317105114</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>backend220230317105114.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>backend2</ContainerName>
    <EnvironmentName>Backend2-env-20230317104642</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://backend2-app-20230317104641.orangedesert-ad04d260.australiaeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a2af9f2a-ccba-478f-9946-e86400de0324/resourceGroups/gglbackend/providers/Microsoft.App/containerapps/backend2-app-20230317104641</ResourceId>
    <ResourceGroup>gglbackend</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>